coverage
node_modules
output
docs
env
tsconfig.tsbuildinfo
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
# created by the rollup
stats.html
# created by nix
result
source
dist
test-dist

.cache
.local
package-lock.json
yarn.lock
# nixago: ignore-linked-files
/lefthook.yml
/.editorconfig
/treefmt.toml
